img{
    width: 99%;
    padding: 5px;
}
#title{
    color: darkslategrey;
    text-align: center;
    border: 5px solid darkcyan;
}
.para{
    text-align: justify;
    padding: 5px;
}
.para2{
    text-align: justify;
    padding: 5px;
}

.place{
    padding: 5px;
}
.article{
    border: 3px solid darkolivegreen;
    padding: 5px;
    margin: 5px;
}
*{
   padding: 5px;
   background-color: lightsteelblue;

}
#form{
    border: 3px solid darkslategrey;
    margin: 5px;
    margin-top: 100px;
    padding: 5px;

}